<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ficha Articulo</title>
    <link rel="stylesheet" href="{% static 'css/fichaArticulo.css' %}">
</head>

<body>
    <div class="centre">
        <div class="derecha">
            <div class="nombre-estado">
                <h1 class="nombre" style="max-width: 300px">{{ item.name }}</h1>

                {% if item.state == 1 %}
                    <div class = "disponible" style="width: auto;border-radius: 5px;color: white; background-color: green">< Disponible</div>
                    {% endif %}

                {% if item.state == 2 %}
                    <div class = "reparacion" style="border-radius: 5px;color: white; background-color: darkgray">< En Reparación</div>
                {% endif %}

                {% if item.state == 3 %}
                    <div class = "prestamo" style="border-radius: 5px;color: white; background-color: orange">< En Préstamo</div>
                {% endif %}

                {% if item.state == 4 %}
                    <div class = "perdido" style="border-radius: 5px;color: white; background-color: red;">< Perdido</div>
                {% endif %}

            </div>

            <div class="imagen">
                <img class="foto" src="{{ item.img.url }}" >
                <form action="{% url 'aceptarFoto' %}" method="post" enctype="multipart/form-data" id="des" style="display: inline-block">
                        {% csrf_token %}
                        <input type="file" name="imgFile"/>
                        <input type="submit" class="btn" value="aceptar" name="{{ item.id }}" style="background-color: lightgreen">

                        </form>
                        <form action="{% url 'cancelarNombre' %}" method="post" enctype="multipart/form-data" style="display: inline-block">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="cancelar" name="{{ item.id }}" style="background-color: lightcoral; width: 90px">


                <br>
                </form>
            </div>

            <div class="descripcion">
                <div class="texto">
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
        <div class="espacio"></div>
        <div class="izq">
            <div class="solicitar-reserva">
                <h1 class="nombre">Solicitar reserva</h1>
            </div>
            <div class="cuadro-reserva">
                {% if user.is_authenticated %}
                <div class="fecha">
                    <form action="{% url 'fichaArticulo' %}" method="post" enctype='multipart/form-data'>
                        {% csrf_token %}
                    Fecha de inicio:
                    <input type="date" name="idate" style="margin-left: 67px; alignment: right"> <i class="fa fa-calendar" style="font-size: 20px"></i>
                        <br>
                    Fecha de termino:
                    <input type="date" name="fdate" style="margin-left: 50px"> <i class="fa fa-calendar" style="font-size: 20px"></i>
                        <br>
                    Hora de retiro:
                    <input type="time" name="itime" style="margin-left: 75px"> <i class="fa fa-clock-o" style="font-size: 20px"></i>
                        <br>
                    Hora de entrega:
                    <input type="time" name="ftime" style="margin-left: 57px"> <i class="fa fa-clock-o" style="font-size: 20px"></i>
                        <br>
                    <input type="submit" value="Pedir">
                    </form></p>
                </div>
                {% else %}
                Debe iniciar sesión para realizar reservas.
                {% endif %}

            </div>
            <div class="historial-reserva">
                <h1 class="nombre">Historial de reservas</h1>
            </div>
            <div class="cuadro-reserva">
                {% for fecha in item.Reserva.all %}
                    <tr>
                            - Desde el {{ fecha.iDate }} al las {{ fecha.iTime }}, hasta el {{ fecha.fDate }} a las {{ fecha.fTime }}<br>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>