<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ficha Articulo</title>
    <link rel="stylesheet" href="{% static 'css/fichaArticulo.css' %}">
</head>

<body>
    <div class="centre">
        <div class="derecha">
            <div class="nombre-estado">
                <h1 class="nombre" style="max-width: 300px">{{ item.name }}</h1>

                {% if item.state == 1 %}
                    <div class = "disponible" style="width: auto;border-radius: 5px;color: white; background-color: green">< Disponible</div>
                    {% endif %}

                {% if item.state == 2 %}
                    <div class = "reparacion" style="border-radius: 5px;color: white; background-color: darkgray">< En Reparación</div>
                {% endif %}

                {% if item.state == 3 %}
                    <div class = "prestamo" style="border-radius: 5px;color: white; background-color: orange">< En Préstamo</div>
                {% endif %}

                {% if item.state == 4 %}
                    <div class = "perdido" style="border-radius: 5px;color: white; background-color: red;">< Perdido</div>
                {% endif %}

            </div>

            <div class="imagen">
                <img class="foto" src="{{ item.img.url }}" >
            </div>
            <div class="descripcion">
                <form action="{% url 'aceptarDes' %}" method="post" enctype="multipart/form-data" id="des" style="display: inline-block">
                        {% csrf_token %}
                        <textarea rows="4" cols="47" name="description" form="des">{{ item.description }}</textarea>
                    <div>
                        <input type="submit" class="btn" value="aceptar" name="{{ item.id }}" style="background-color: lightgreen">

                        </form>
                        <form action="{% url 'cancelarNombre' %}" method="post" enctype="multipart/form-data" style="display: inline-block">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="cancelar" name="{{ item.id }}" style="background-color: lightcoral; width: 90px">


                <br>
                </form>
                </div>
            </div>
        </div>
        <div class="espacio"></div>
        <div class="izq">

            <div class="historial-reserva">
                <h1 class="nombre">Historial de reservas</h1>
            </div>
            <div class="cuadro-reserva">
                {% for fecha in item.Reserva.all %}
                    <tr>
                            - Desde el {{ fecha.iDate }} al las {{ fecha.iTime }}, hasta el {{ fecha.fDate }} a las {{ fecha.fTime }}<br>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>