{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Perfil de Usuario
{% endblock %}

{% block header %}
        {% load static %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'person/css/tablas.css' %}">
        <!-- Add icon library -->

{% endblock header %}

{% block content %}
    <script>
    function show(nr) {
        document.getElementById("table1").style.display="none";
        document.getElementById("table2").style.display="none";
        document.getElementById("table3").style.display="none";

        document.getElementById("table"+nr).style.display="block";
    }
    </script>
    <div class="container" >
      <ul class="nav nav-pills justify-content-center">
        <li><a data-toggle="pill" href="#articulos">Reserva un Espacio</a></li>
        <li><a data-toggle="pill" href="#espacios">Pide un Artículo</a></li>
      </ul>
    </div>

    <div align="center">
        <ul>
            <li><a href="#" onclick="show(1)">Reservas</a></li>
            <li><a href="#" onclick="show(2)">Préstamos</a></li>
        </ul>

        <div id="table1">
            <h3>Reservas</h3>
                <table>
                    <tr>
                        <th>Nombre</th>
                    </tr>

                {% block Reservas %}
                {% endblock %}
                </table>
        </div>


        <div id="table2">
            <h3>Préstamos</h3>
                <table>
                    <tr>
                        <th>Nombre</th>
                    </tr>

                {% block Prestamos %}
                {% endblock %}
                </table>
        </div>
        </div>

        <div id="table3">

        </div>
    </div>

{% endblock %}

