* {
    box-sizing: border-box;
}

form.buscador input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
}

form.buscador button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.buscador button:hover {
    background: black;
    color: white
}

/*form.buscador::after {*/
    /*content: "";*/
    /*clear: both;*/
    /*display;*/
/*}*/
